.home{
  margin-top: 150px;
}
.home-text{
  color: #fff ;
  font-size: 90px;
  font-weight: 500;
  line-height: 130px;
}
.explore{
  display: flex;
  align-items: center;
  cursor: pointer;
  background: wheat;
  color: black;
}
.explore p{
  color: black;
  font-weight: 500;
}
.play{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.dots{
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
  margin-left: 30px;
}
.dot{
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 7.5px;
  cursor: pointer;
}
.orange{
  background: #F2B616;
}
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.home-texts {
  animation: fadeSlide 3s ease-in-out infinite;
}

.paused {
  animation: none; /* Keep the text steady */
}
.dark-mode-background {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
}

/* Tailwind CSS Styles */

.slider {
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

.slide {
  min-width: 200px;
  max-width: 250px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* You can add this CSS to your global styles or as inline styles */
